
	<!-- Page Banner -->
	<div id="page-banner" class="page-banner">
		<img src="/images/page-banner.png" alt="page-banner" />
		<!-- container -->
		<div class="page-detail">
			<div class="container">
				<h3 class="page-title">404</h3>
				<div class="page-breadcrumb pull-right">	
					<ol class="breadcrumb">
						<li><a title="Home" href="/">Home</a></li>
						<li><a title="Pages" href="#">Páginas</a></li>
						<li>404</li>
					</ol>
				</div>
			</div>
		</div><!-- container /- -->
	</div><!-- Page Banner /- -->
	
	<!-- Error Page Section -->
	<div id="error-page-section" class="error-page-section">
		<!-- container -->
		<div class="container">
			<!-- col-md-6 -->
			<div class="col-md-6 error-content">
				<img src="/images/404.png" alt="404" />
				<h3>Ohh! Não foi possível encontrar.</h3>
				<p>Esta página pode ter sido removida ou talvez você tenha digita o endereço errado.</p>
				<aside class="widget widget_search invisible">
					<form class="search" role="search" action="#" method="get">
						<input type="text" name="s" id="s" placeholder="search again..." class="form-control" required="">
						<span class="search-icon input-group-btn"><button class="btn btn-xlg" type="submit"></button></span>
					</form>
				</aside>
			</div><!-- col-md-6 -->
			<!-- col-md-6 -->
			<div class="col-md-6">
				<img src="/images/404-2.jpg" alt="404-2" />
			</div><!-- col-md-6 -->
		</div><!-- container -->
	</div>
	<!-- Error Page Section /- -->
