<!-- Page Banner -->
<div id="page-banner" class="page-banner">
    <img src="images/page-banner.png" alt="page-banner" />
    <!-- container -->
    <div class="page-detail">
        <div class="container">
            <h3 class="page-title">Blog</h3>
            <div class="page-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li><a title="Home" href="/">Home</a></li>
                    <li>blog</li>
                </ol>
            </div>
        </div>
    </div><!-- container /- -->
</div><!-- Page Banner /- -->

<div id="blog-section" class="blog-section blog-list ow-section">
    <!-- container -->
    <div class="container">
        <?php
            if(isset($categoria)) {
                echo "<h1>"  . $categoria->title . "</h1><br />";
            }

        ?>
        <!-- col-md-8 -->
        <div class="col-md-8 col-sm-7 no-padding">
            <?php foreach($posts as $post): ?>
            <article>
                <div class="blog-box">
                    <div class="entry-cover">
                        <a title="Blog Cover" href="/<?php echo $post->slug; ?>"><img src="<?php echo $this->app_properties['post_img_folder'] ."796x381/" . $post->image;?>" alt="blog-1" /></a>
							<span class="posted-on">
<!--								<span class="like">0</span>-->
								<span class="date"><?php echo strtoupper(date("d M", strtotime($post->published_on)));?></span>
							</span>
                    </div>
                    <div class="blog-box-inner">
                        <!-- entry header -->
                        <header class="entry-header">
                            <h3><a title="Post Title" href="/<?php echo $post->slug; ?>"><?php echo $post->title; ?></a></h3>
                        </header><!-- entry header /- -->

                        <footer class="entry-footer">
								<span class="byline">
									<span class="screen-reader-text">Por</span>
									<a title="Author" href="#"><?php echo $post->first_name; ?></a>
								</span>
<!--								<span class="byline">-->
<!--									<span class="screen-reader-text">Curtidas </span>-->
<!--									<a title="Likes" href="#">23</a>-->
<!--								</span>-->
								<span class="byline">
									    <span class="screen-reader-text">
                                            <?php
                                            $sep = '';
                                            foreach($post->categories as $c) {
                                                echo $sep . sprintf('<a href="/%s" title="%s">%s</a>', $c['slug'], $this->escapeHtml($c['title']), $c['title']);
                                                $sep = ", ";
                                            }
                                            ?>
                                        </span>
								</span>
                        </footer>

                        <div class="entry-content">
                            <?php echo nl2br($post->description); ?>
                        </div>
                    </div>
                    <a href="/<?php echo $post->slug; ?>" class="btn">Leia mais...</a>
                </div>
            </article>
            <?php endforeach;?>
            <!-- paginador -->
            <?if($posts_paginas>1): ?>
            <ul class="pagination">
                <li>Páginas</li>
                <?php for($i=1; $i<=$posts_paginas; $i++) {
                    echo sprintf( '<li><a title="Pagination" href="/%s?page=%s">%s</a></li>', $slug_atual,$i, $i );
                 }?>
            </ul>
            <?php endif; ?>
            <!-- paginador -->
        </div><!-- col-md-8 /- -->
        <div class="col-md-1 col-sm-1"></div>

        <?php include "sidebar.phtml"; ?>

    </div>
    <!-- container /- -->
</div>