<?php
/**
 * tips_and_tricks.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */
?>
<!-- Dicas e Truques Section -->
<section id="team-section" class="team-section ow-section">
    <!-- container -->
    <div class="container">
        <!-- col-md-3 -->
        <div class="col-md-3 col-sm-4">
            <!-- Section Header -->
            <div class="section-header">
                <h3><img src="/images/icon/sep-icon.png" alt="sep-icon" /> Dicas e Truques</h3>
            </div><!-- Section Header /- -->
            <p>
                Conheça as dicas e truques de como usar a linha de produtos da GR Higiene e Limpeza no seu dia a dia e muito mais, aproveite!
            </p>
        </div><!-- col-md-3 /- -->

        <!-- col-md-9 -->
        <div class="col-md-9 col-sm-8">
            <div id="make-clean-team" class="owl-carousel owl-theme team-style1">
                <?php foreach($dicas as $dica) { ?>
                    <?php if(is_file($this->app_properties['category_upload_folder']  . $dica->id . ".jpg")) : ?>
                    <div class="item">
                        <div class="team-box">
                            <a href="/dicas-diversas">
                                <img src="/uploads/category/<?php echo $dica->id;?>.jpg" alt="team" />
<?php /*                                <div class="team-box-inner">
                                    <img src="/images/team/team-icon.png" alt="team icon" />
                                    <h4><?php //echo ($dica->title);?></h4>
                                    <hr>
                                    <p><?php // echo ($dica->category_title);?></p>
                                </div>
 */ ?>
                            </a>
                        </div>
                    </div>
                    <?php endif; ?>
                <?php } ?>
            </div>
        </div><!-- col-md-9 /- -->
    </div><!-- container /- -->
</section><!-- Team Section /- -->

