<!-- Page Banner -->
<div id="page-banner" class="page-banner">
    <img src="images/page-banner.png" alt="page-banner" />
    <!-- container -->
    <div class="page-detail">
        <div class="container">
            <h3 class="page-title">Galerias</h3>
            <div class="page-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li><a title="Home" href="index.html">Home</a></li>
                    <li><a title="Portfolio" href="portfolio.html">Galeria</a></li>
                    <li>Detalhes</li>
                </ol>
            </div>
        </div>
    </div><!-- container /- -->
</div><!-- Page Banner /- -->

<!-- Portfolio Details -->
<div id="portfolio-details" class="portfolio-details ow-section">
    <!-- container -->
    <div class="container">
        <!-- Portfolio Details Slider -->
        <div class="portfolio-details-slider">
            <div class="col-md-12 col-sm-12 col-xs-12 row">
                <h3><?php echo $this->escapeHtml($galeria->title); ?></h3>
                <div id="portfolio-slider" class="flexslider">
                    <ul class="slides">
                        <?php
                        $thumbs = '';
                        foreach($imagens as $img) {
                            echo sprintf("<li><img src=\"/uploads/gallery/780/%s\" alt=\"%s\" /></li>", $img->file, $this->escapeHtml($galeria->title));
                            $thumbs .= sprintf("<li><img src=\"/uploads/gallery/88/%s\" alt=\"%s\" /></li>",$img->file, $this->escapeHtml($galeria->title));
                        }?>

                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="portfolio-carousel" class="flexslider thumbnail">
                    <ul class="slides">
                        <?php echo $thumbs; ?>
                    </ul>
                </div>
            </div>
        </div><!-- Product Details Slider /- -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="sidebar row">
                <div class="widget widget_gallery center-block">
                    <h3 class="widget-title">Outras Galerias</h3>
                    <ul>
                        <?php foreach($galerias as $galeria) { ?>
                            <li><a title="<?php echo $this->escapeHtml($galeria->title); ?>" href="/galeria?id=<?php echo $galeria->id;?>"><img src="<?php echo "/uploads/gallery/88/{$galeria->image_id}.jpg";?>" alt="<?php echo $this->escapeHtml($galeria->title); ?>" /></a></li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>|
</div>

