<!-- Slider Section -->
<div id="slider-section" class="slider-section">
    <div id="make-clean-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <?php for($i=0; $i<$this->banners->count(); $i++) {
                echo sprintf('<li data-target="#make-clean-slider" data-slide-to="%s" %s></li>', $i, ($i == 0 ? 'class="active"' : ''));
            } ?>
        </ol>
        <div class="carousel-inner" role="listbox">
            <?php
            $is_first = true;
            foreach($this->banners as $banner): ?>
            <div class="item <?php echo $is_first ? 'active' : ''; $is_first=false; ?>">
                <img src="<?php echo $this->app_properties['banners_img_folder'] . $banner->file;?>" alt="<?php echo $this->escapeHtml($banner->header);?>">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-md-8">
                            <h3><?php echo $this->escapeHtml($banner->header);?></h3>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
        <!-- Controls -->
        <a title="Slider Control" class="left carousel-control" href="#make-clean-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a title="Slider Control" class="right carousel-control" href="#make-clean-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <div class="container">
        <form id="quick-contact" class="contact-form col-md-4" method="post">
            <h3>Formulario de contato! <span>Deixe sua mensagem!</span></h3>
            <div class="form-control">
                <input type="text" id="quick_name" name="quick-name" placeholder="NOME" required />
                <input type="text" id="quick_phone" name="quick-phone" placeholder="TELEFONE" />
                <input type="text" id="quick_email" name="quick-email" placeholder="E-MAIL" required />
                <textarea id="quick_message" name="quick-message" placeholder="DEIXE SUA MENSAGEM AQUI"></textarea>
                <input type="submit" id="btn_send_contact" name="submit" value="Enviar" />
            </div>
            <div id="alert-msg" class="alert-msg"></div>
        </form>
    </div>
</div><!-- Slider Section /- -->

<!-- Service Section -->
<section id="service-section" class="service-section ow-section">
    <!-- container -->
    <div class="container">

        <!-- Section Header -->
        <div class="section-header">
            <h3><img src="/images/icon/sep-icon.png" alt="sep-icon" /> Nossas Marcas</h3>
        </div><!-- Section Header /- -->

        <div id="make-clean-service" class="owl-carousel owl-theme services-style1">
            <?php foreach($linhas as $linha) { ?>
            <div class="item">
                <div class="service-box">
                    <img src="/uploads/protype/<?php echo $linha->id;?>.jpg" alt="<?php echo $this->escapeHtml($linha->title); ?>"/>
                    <div class="service-box-inner">
                        <h4 class="font-bold font-arial"> <?php echo $this->escapeHtml($linha->title); ?></h4>
                        <a title="View Details" href="/<?php echo $linha->slug;?>">Ver detalhes</a>
                    </div>
                </div>
            </div>
            <?php } ?>
        </div>
    </div><!-- container /- -->
</section><!-- Service Section /- -->

<?php echo isset($bloco[1]->content) ? $bloco[1]->content : ''; ?>

<?php
if($this->app_properties['blog-ativo']=='s'):
    include "dicas_e_truques.phtml";
endif;
?>
<?php echo isset($bloco[2]->content) ? $bloco[2]->content : ''; ?>


<?php echo isset($bloco[3]->content) ? $bloco[3]->content : ''; ?>

<?php if($this->app_properties['blog-ativo']=='s'): ?>
<!-- Blog Section -->
<div id="blog-section" class="blog-section ow-section">
    <!-- container -->
    <article class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h3><img src="/uploads/post/164x80/acesse-o-blog.png" alt="VISITE NOSSO BLOG E CONHEÇA DIVERSAS DICAS E CURIOSIDADES E APROVEITE PARA NOS CONTAR SOBRE SUAS EXPERIÊNCIAS DE USO DOS NOSSOS PRODUTOS, PARA DIVIDIRMOS COM OUTROS(A) CONSUMIDORES (AS)." />
                Visite nosso blog e conheça diversas dicas e curiosidades
                e aproveite para nos contar sobre suas experiências de uso
                dos nossos produtos, para dividirmos com outros(a) consumidores
                (as).</h3>

        </div><!-- Section Header /- -->
        <!-- col-md-6 -->

        <?php foreach($posts as $post) {?>
        <article class="col-md-6 col-sm-12">
            <div class="blog-box">
                <div class="blog-box-inner">
                    <!-- entry header -->
                    <header class="entry-header">
                        <h3><a title="Blog Title" href="<?php echo $post['slug']; ?>"><?php echo $this->escapeHtml($post['title']); ?></a></h3>
                    </header><!-- entry header /- -->

                    <footer class="entry-footer">
							<span class="byline">
								<span class="screen-reader-text">Por </span>
								<a title="Admin" href="#"><?php echo $this->escapeHtml($post['first_name']); ?></a>
							</span>
<!--							<span class="byline">-->
<!--								<span class="screen-reader-text">Curtidas </span>-->
<!--								<a title="Likes" href="#">23</a>-->
<!--							</span>-->
                    </footer>

                    <div class="entry-content">
                        <?php echo nl2br($this->escapeHtml($post['description'])); ?>
                    </div>
                    <a href="<?php echo $post['slug']; ?>">Leia mais...</a>
                </div>
                <div class="entry-cover pull-right">
                    <a title="<?php echo $this->escapeHtml($post['title']); ?>" href="<?php echo $post['slug']; ?>"><img src="<?php echo $this->app_properties['post_img_folder'] ."278x298/" . $post['image'];?>" alt="blog-1" /></a>
						<span class="posted-on">
							<span class="date"><?php echo date("d M", strtotime($post['published_on']));?></span>
						</span>
                </div>

            </div>

        </article><!-- col-md-6 /- -->
        <?}?>
        <div style="position: relative; display: block; clear: both;">
            <a href="/blog" class="btn" >Veja Todos</a>
        </div>
    </div><!-- container /- -->
</div><!-- Blog Section /- -->
<?php endif; ?>

<?php echo isset($bloco[4]->content) ? $bloco[4]->content : ''; ?>
