<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">	
	<title>GR GRUPO</title>

	<link rel="shortcut icon" href="/images/favicon.png">
	<link href="/libraries/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="/libraries/fuelux/jquery-ui.min.css" rel="stylesheet" />
	<linK href="/libraries/owl-carousel/owl.carousel.css" rel="stylesheet"/>
	<linK href="/libraries/owl-carousel/owl.theme.css" rel="stylesheet"/>
	<link href="/libraries/fonts/font-awesome.min.css" rel="stylesheet"/>
	<link href="/libraries/animate/animate.min.css" rel="stylesheet"/>
	<link href="/libraries/jquery-ui/jquery-ui.css" rel="stylesheet"/>

	<link href="/libraries/magnific-popup.css" rel="stylesheet" />
	<link href="/libraries/flexslider/flexslider.css" rel="stylesheet" />
	<link href="/css/components.css" rel="stylesheet"/>
	<link href="/style.css?cache=111" rel="stylesheet"/>
	<link href="/css/media.css" rel="stylesheet"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="/js/html5/html5shiv.min.js"></script>
	<script src="/js/html5/respond.min.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body data-offset="200" data-spy="scroll" data-target=".primary-navigation">
	<a id="top"></a>
	
	<!-- Header Section -->
	<header id="header-section" class="header-section">

		<!-- Top Header -->
		<div class="top-header">
			<!-- container -->
			<div class="container">
				<div class="row">
					<!-- col-md-6 -->
					<div class="col-md-4 col-sm-8 pull-right row">
						<p><img src="/images/icon/thumbs-icon.png" alt="thumbs-icon"/>Sua melhor escolha em produtos de limpeza
!</p>

					</div><!-- col-md-6 /- -->
					<!-- col-md-6 -->
					<div class="col-md-6 col-sm-6 text-right">
						
					</div><!-- col-md-6 /- -->
				</div>
			</div><!-- container /- -->
		</div><!-- Top Header /- -->
		
		<!-- Logo Block -->
		<div class="logo-block">
			<!-- container -->
			<div class="container">
				<div class="row">
					<!-- col-md-2 -->
					<div class="col-md-3 col-sm-4">
						<a title="Logo" href="/"><img src="/images/logo-grgrupo.png" alt="logo" /></a>
					</div><!-- col-md-2 /- -->
					<!-- col-md-4 -->
					<div class="col-md-4 col-sm-8 pull-right row">
						<!-- col-md-7 -->
						<div class="col-md-12 col-sm-6 col-sm-offset-2 col-md-offset-2 call-us">
							<!--<img src="/images/icon/mobile-icon.png" alt="mobile-icon" />-->
							<!--<p>Televendas!<span>-->
							<!--<?php echo $this->app_properties['telefone-contato'];?>
						</span></p>-->
						</div><!-- col-md-7 /- -->
						<!-- col-md-5 -->
					</div><!-- col-md-4 /- -->
					<div class="col-md-9 col-sm-6">
						<?php if(!empty($banner_top)) {?>
						<a href="<?php echo $banner_top->href;?>" title="<?php echo $this->escapeHtml($banner_top->title);?>" ><img class="top-banner" src="<?php echo $this->app_properties['banners_img_folder'] . $banner_top->file;?>" alt="<?php echo $this->escapeHtml($banner_top->header);?>"  /></a>
						<?php } ?>
					</div>
				</div>
			</div>
		</div><!-- Logo Block /- -->
		
		<!-- Menu Block -->
		<div class="menu-block">
			<div class="container">
				<div class="row">
					<!-- col-md-8 -->
					<nav class="navbar navbar-default col-md-8">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a title="Logo" href="/"><img alt="logo" src="/images/responsive-logo.png"></a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="dropdown zz " id="zz1"><a title="Home" href="/">Home</a></li>
								<li class="zz" id="zz2"><a title="A Empresa" href="/a-empresa">A Empresa</a></li>
								<li class="dropdown zz" id="zz3">
									<a  title="Produtos" href="#" class="dropdown-toggle" data-toggle="dropdown">Produtos</a>
									<ul class="dropdown-menu" role="menu">
										<?php
										foreach($this->linha_de_produtos as $pro) {
											echo sprintf('<li><a title="%s" href="/%s"</a>%s</li>', $this->escapeHtml($pro->title), $pro->slug, $pro->title);
										}

										?>
									</ul>
								</li>
								<?php if($this->app_properties['blog-ativo']=='s'): ?>
								<li class="zz" id="zz4"><a title="Blog" href="/blog">Blog</a></li>
								<?php endif; ?>
								<li class="dropdown zz" id="zz5">
									<a title="Contato" href="#" class="dropdown-toggle" data-toggle="dropdown">Contato</a>
									<ul class="dropdown-menu" role="menu">
										<li><a title="Endereços" href="/contato">Endereços</a></li>
									</ul>
								</li>
								<li class="zz" id="zz6"><a title="Home" href="/trabalhe-conosco">Trabalhe Conosco</a></li>
								<li class="zz" id="zz7" style="display: none">
									<a title="Search" class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-search"></i></a>
									<div id="sb-search" class="sb-search">
										<form action="/search" method="get">
											<input class="sb-search-input" placeholder="Procurar por..." type="text" value="" name="q" id="q">
											<button class="sb-search-submit" type="submit"></button>
											<span class="sb-icon-search"></span>
										</form>
									</div>

								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav><!-- col-md-8 /- -->
					<div class="col-md-4 quote">
						<a  title="Nossas ações verde" href="/nossas-acoes-verde">Nossas ações verde</a>
					</div>
				</div>
			</div><!-- /.container -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->

	<!-- CONTENT Section /- -->
	<?php echo $this->content; ?>
	<!-- CONTENT Section /- -->

	<!-- Footer Section -->
	<footer id="footer-section" class="footer-section ow-background">
		<!-- container -->
		<div class="container">
			<div class="footer-heading">
				<h5>Dúvidas, Críticas ou Perguntas?</h5>
				<h3>Fale Conosco: <?php echo $this->app_properties['telefone-contato'];?></h3>
			</div>
			<aside class="col-md-3 col-sm-3 widget widget-link">
				<h3>Linha de Produtos</h3>
				<ul>
					<?php foreach($this->linha_de_produtos as $protype) {
						echo sprintf('<li><a title="%s" href="/%s"><i class="fa fa-tint"></i> %s</a></li>', $protype->title, $protype->slug, $protype->title);
					}
					?>
				</ul>
			</aside>

			<?php if($this->app_properties['blog-ativo']=='s'): ?>
			<aside class="col-md-3 col-sm-3 widget widget-link">
				<h3>Categorias Blog</h3>
				<ul>
					<?php
					foreach($this->categoria_posts as $cat) {
						echo sprintf('<li><a title="%s" href="/%s"><i class="fa fa-tint"></i> %s</a></li>', $cat['title'], $cat['slug'], $cat['title']);
					}
					?>
				</ul>
			</aside>
			<?php endif; ?>

			<aside class="col-md-2 col-sm-2 widget widget-link">
				<h3>Nossos Endereços</h3>
				<ul>
					<li><a title="Home" href="#"><i class="fa fa-tint"></i> Matriz</a></li>
					<li><a title="About Us" href="#"><i class="fa fa-tint"></i> Filial MG</a></li>
					<li><a title="Shop" href="#"><i class="fa fa-tint"></i> Filial PE</a></li>
					<li><a title="Our Staffs" href="#"><i class="fa fa-tint"></i> Filial BA</a></li>
				</ul>
			</aside>
			
			<aside class="col-md-4 col-sm-4 widget widget-calculator">
				<h3>Newsletter</h3>
				<form id="newsletter-signup" method="post">
					<input type="text" name="nome" placeholder="Nome" required />
					<input type="text" name="email" placeholder="Email" required />
					<input type="submit" value="Enviar" />
					<div class="alert-msg"></div>
				</form> 
			</aside>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<p>Copyright © 2015 GR GRUPO. Todos os direitos reservados a GR GRUPO.</p>
				<p><a href="/politica-de-privacidade">Política de Privacidade</a></p>
			</div>
			<!-- Footer Bottom /- -->
			
		</div>
		<!-- container /- -->
	</footer><!-- Footer Section /- -->
	<script src="/libraries/jquery.min.js"></script>
	<script src="/libraries/jquery.easing.min.js"></script><!-- Easing Animation Effect -->
	<script src="/libraries/bootstrap/bootstrap.min.js"></script> <!-- Core Bootstrap v3.3.4 -->
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
	<script src="/libraries/gmap/jquery.gmap.min.js"></script> <!-- Light Box -->
	<script src="/libraries/fuelux/jquery-ui.min.js"></script> <!-- Price Filter -->
	<script src="/libraries/jquery.animateNumber.min.js"></script> <!-- Used for Animated Numbers -->
	<script src="/libraries/jquery.appear.js"></script> <!-- It Loads jQuery when element is appears -->
	<script src="/libraries/jquery.knob.js"></script> <!-- Used for Loading Circle -->
	<script src="/libraries/wow.min.js"></script> <!-- Use For Animation -->
	<script src="/libraries/owl-carousel/owl.carousel.min.js"></script> <!-- Core Owl Carousel CSS File  *	v1.3.3 -->
	<script src="/libraries/portfolio-filter/jquery.quicksand.js"></script> <!-- Portfolio Filter -->
	<script src="/libraries/expanding-search/modernizr.custom.js"></script> <!-- Core Owl Carousel CSS File  *	v1.3.3 -->
	<script src="/libraries/flexslider/jquery.flexslider-min.js"></script> <!-- flexslider -->
	<script src="/libraries/jquery.magnific-popup.min.js"></script> <!-- Light Box -->
	<script src="/libraries/expanding-search/modernizr.custom.js"></script> <!-- Core Owl Carousel CSS File  *	v1.3.3 -->
	<script src="/libraries/expanding-search/classie.js"></script>
	<script src="/libraries/expanding-search/uisearch.js"></script>
	<script src="/libraries/bootstrap/bootstrap.min.js"></script>
	<script src="/libraries/datepicker-pt-BR.js"></script>
	<script src="/libraries/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/libraries/jquery-validation/dist/localization/messages_pt_BR.js"></script>
	<script src="/libraries/jquery-validation/dist/localization/messages_pt_BR.js"></script>
	<script src="/libraries/js-cookie.js"></script>
	<script>
		new UISearch( document.getElementById( 'sb-search' ) );
	</script>
	<!-- Customized Scripts -->
	<script src="/js/functions.js"></script>
	<script src="/js/custom.js?cache=444"></script>
	<!-- jQuery Include -->
	<script type="text/javascript">
		$(document).ready(function(){
			$('#bs-example-navbar-collapse-1 a').click(function(){
				var id = $(this).parents('li.zz').first().attr('id');

				Cookies.set('active-menu', id);
			});

			var id = Cookies.get('active-menu');
			$('.zz').removeClass('active');
			if(id==undefined) {
				$('zz1').addClass('active');
			}else{
				$('#'+id).addClass('active');
			}
			
			
    		if ($('input[name="nascimento"]').length > 0) {

				$('input[name="nascimento"]').datepicker();

				// validate signup form on keyup and submit
				$("#trabalhe").validate({
					rules: {
						nome: "required",
						endereco: "required",
						telefone: "required",
						nascimento: "required",
						escolaridade: "required",
						qualificacoes: "required",
						objetivo: "required",
						area: "required",
						email: {
							required: true,
							email: true
						},
					}
				});

		    };

		});
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-90106707-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
