<!-- Page Banner -->
<div id="page-banner" class="page-banner">
    <img src="/images/page-banner.png" alt="page-banner" />
    <!-- container -->
    <div class="page-detail">
        <div class="container">
            <a title="Blog" href="/blog"><h3 class="page-title">Blog</h3></a>
            <div class="page-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li><a title="Home" href="/">Home</a></li>
                    <li><a title="Blog" href="/blog">Blog</a></li>
                </ol>
            </div>
        </div>
    </div><!-- container /- -->
</div><!-- Page Banner /- -->

<div id="blog-section" class="blog-section blog-list ow-section">
    <!-- container -->
    <div class="container">
        <!-- col-md-8 -->
        <div class="col-md-8 col-sm-7 no-padding">
            <article>
                <div class="blog-box">
                    <div class="entry-cover">
                        <img src="<?php echo $this->app_properties['post_img_folder'] ."796x381/" . $post->image;?>" alt="<?php echo $this->escapeHtml($post->title);?>" />
							<span class="posted-on">
<!--								<span class="like">08</span>-->
								<span class="date"><?php echo strtoupper(date('d M', strtotime($post->published_on))); ?></span>
							</span>
                    </div>
                    <div class="blog-box-inner">
                        <!-- entry header -->
                        <header class="entry-header">
                            <h3><a title="<?php echo $this->escapeHtml($post->title); ?>" href="<?php echo $post->slug;?>"><?php echo $post->title; ?></a></h3>
                        </header><!-- entry header /- -->

                        <footer class="entry-footer">
								<span class="byline">
									<span class="screen-reader-text">Por </span>
									<a title="Author" href="#"><?php echo $this->escapeHtml($post->first_name); ?></a>
								</span>
<!--								<span class="byline">-->
<!--									<span class="screen-reader-text">Curtidas </span>-->
<!--									<a title="Likes" href="#">18</a>-->
<!--								</span>-->
								<span class="byline">
									    <span class="screen-reader-text">
                                            <?php
                                            $sep = '';
                                            foreach($post->categories as $c) {
                                                echo $sep . sprintf('<a href="/%s" title="%s">%s</a>', $c['slug'], $this->escapeHtml($c['title']), $c['title']);
                                                $sep = ", ";
                                            }
                                            ?>
                                        </span>
								</span>
                        </footer>

                        <div class="entry-content">
                            <?php echo $post->content;?>
                        </div>
                    </div>

                    <!-- div class="col-md-6">
                        <aside class="widget widget_tags row">
                            <h5>Tags : </h5>
                            <a title="Cleaning" href="#">Vidros</a>
                            <a title="Tips" href="#">Dicas</a>
                            <a title="Window" href="#">Janelas</a>
                            <a title="Popular" href="#">Limpeza</a>
                        </aside>
                    </div -->

                    <div class="col-md-6">

                    </div>
                </div>
            </article>
            <div class="comment-area">
                <h2>Comentários (<?php echo $comments->count();?>)</h2>

                <?php foreach($comments as $comment){?>
                <div class="comment-box">

                    <div class="col-md-12 col-xs-12">
                        <div class="vcard author post-author">
                            <h3 class="comment-user-name"><?php  echo $this->escapeHtml($comment->name);?></h3>
                            <h4 class="comment-date pull-right"><?php echo date("d M, Y - H:i", strtotime($comment->created_on));?></h4>
                        </div>

                        <p class="comments-desc">
                            <h4><?php  echo $this->escapeHtml($comment->subject);?></h4>


                        <?php echo nl2br($this->escapeHtml($comment->message)); ?>
                        </p>
<!--                        <a class="reply" href="#">Reply</a>-->
                    </div>
                </div>
                <?php } ?>



                <form id="post-comment-form" class="comment-form form-horizontal" role="form" method="post">
                    <input type="hidden" name="post_id" value="<?php echo $post->id;?>" />
                    <h2>Deixe seu comentário	</h2>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-12">
                            <label class="sr-only" for="name">Nome</label>
                            <input type="text" class="form-control" id="name" name="name" name="contact-name" placeholder="Nome" required />
                        </div>
                        <div class="col-md-12">
                            <label class="sr-only" for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required />
                        </div>
                        <div class="col-md-12">
                            <label class="sr-only" for="subject">Assunto</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="sr-only" for="message">Mensagem</label>
                        <textarea class="form-control" id="message" name="message" rows="8" required  placeholder="Mensagem"></textarea>
                    </div>
                    <button type="submit" class="btn">Enviar</button>
                    <div id="alert-msg" class="alert-msg"></div>
                </form>
            </div>
        </div><!-- col-md-8 /- -->
        <div class="col-md-1 col-sm-1"></div>
        <!-- col-md-3 -->

        <?php include "sidebar.phtml"; ?>

    </div><!-- container /- -->
</div>