<?php
/**
 * produto.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */
?>
<!-- Page Banner -->
<div id="page-banner" class="page-banner">
    <img src="images/page-banner.png" alt="page-banner" />
    <!-- container -->
    <div class="page-detail">
        <div class="container">
            <h3 class="page-title">Produtos</h3>
            <div class="page-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li>Produtos</li>
                    <?php echo sprintf('<li><a title="%s" href="%s">%s</a></li>', $this->escapeHtml($linha->title), $linha->slug, $linha->title); ?>
                    <?php echo sprintf('<li><a title="%s" href="%s">%s</a></li>', $this->escapeHtml($produto->name), $produto->slug, $produto->name); ?>
                </ol>
            </div>
        </div>
        <a name="topo"></a>
    </div><!-- container /- -->
</div><!-- Page Banner /- -->
<!-- Product Section -->
<div id="product-section" class="product-section ow-section">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- col-md-3 -->
            <div class="col-md-3 product-sidebar">
                <aside class="widget add-widget">
                    <?php echo sprintf('<a title="%s" href="/%s"><img src="/uploads/protype/logo/%s.jpg" alt="%s" /></a>', $this->escapeHtml($linha->title), $linha->slug, $linha->id, $this->escapeHtml($linha->title)); ?>
                </aside>
                <aside class="widget service-category-widget">
                    <h3>Marca <?php echo $linha->title;?></h3>
                    <ul>
                        <?php foreach($this->produtos_linha as $pro) :
                            echo sprintf('<li><i class="fa fa-long-arrow-right %s"></i><a title="%s" href="%s#topo">%s</a></li>', ($pro->id==$produto->id ? 'active' : ''), $this->escapeHtml($pro->name), $pro->slug, $pro->name);
                        endforeach;
                        ?>
                    </ul>
                </aside>
                <aside class="widget widget_search">
                    <h3>Pesquisar Produtos</h3>
                    <form method="get" action="/search" role="search" class="search">
                        <input type="hidden" name="type" value="product" />
                        <input type="text" required="" class="form-control" placeholder="PROCURAR..." id="s" name="q">
                        <span class="search-icon input-group-btn"><button type="submit" class="btn btn-xlg"></button></span>
                    </form>
                </aside>
                <aside class="widget add-widget">
                    <?php echo sprintf('<a title="%s" href="/%s"><img src="/uploads/product/banner/%s.jpg" alt="%s" /></a>', $this->escapeHtml($produto->name), $produto->slug, $produto->id, $this->escapeHtml($produto->name)); ?>
                </aside>
            </div><!-- col-md-3 /- -->
            <!-- col-md-9 -->
            <div class="col-md-9 single-product-detail">
                <!-- Single Product Slider -->
                <div class="col-md-6 single-product-slider ow-padding-left">
                    <div id="product-slider" class="flexslider">
                        <ul class="slides">
                            <?php
                            $thumbs = '';
                            foreach($images as $img) :
                                echo sprintf('<li><img src="/uploads/product/396x379/%s" alt="single-product" /></li>', $img->file);
                                $thumbs .= sprintf('<li><img src="/uploads/product/125x80/%s" alt="thumb" /></li>',$img->file);
                            endforeach;
                            ?>
                        </ul>
                    </div>
                    <div id="product-carousel" class="flexslider product-thumb">
                        <ul class="slides">
                            <?php echo $thumbs; ?>
                        </ul>
                    </div>
                </div><!-- Single Product Slider /- -->

                <div class="col-md-6">
                    <div class="summary entry-summary">
                        <h1 class="product_title entry-title"><?php echo $produto->name; ?></h1>
                        <div class="description">
                            <p><?php echo nl2br($produto->description); ?></p>
                        </div>
                    </div>
                </div>

                <div class="woocommerce-tabs">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <?php if(!empty($produto->info)):?>
                            <li role="presentation" class="active"><a title="Description" href="#description" aria-controls="description" role="tab" data-toggle="tab">Informações sobre o Produto</a></li>
                            <?php endif; ?>
                            <?php if(!empty($produto->tips)):?>
                            <li role="presentation"><a title="Review" href="#review" aria-controls="review" role="tab" data-toggle="tab">Instruções de Uso</a></li>
                            <?php endif; ?>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <?php if(!empty($produto->info)):?>
                            <div role="tabpanel" class="tab-pane active" id="description">
                                <?php echo $produto->info; ?>
                            </div>
                            <?php endif; ?>
                            <?php if(!empty($produto->tips)):?>
                            <div role="tabpanel" class="tab-pane<?php echo empty($produto->info) ? ' active' : ''?>" id="review">
                                <?php echo $produto->tips; ?>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php if(!empty($produtos_relacionados)): ?>
                <div class="section-header">
                    <h3>PRODUTOS RELACIONADOS</h3>
                </div>
                <div class="relflexslider">
                    <ul class="product-main slides">
                        <?php foreach($produtos_relacionados as $pro): ?>
                        <li class="col-md-4 col-sm-4 col-xs-6">
                            <div class="product-box">
                                <a title="<?php echo $this->escapeHtml($pro->name);?>" href="/<?php echo $pro->slug; ?>#topo">
                                    <img src="/uploads/product/original/<?php echo $pro->file ?>" alt="<?php echo $this->escapeHtml($pro->name);?>" />
                                </a>
                                <div class="product-detail">
                                    <a title="<?php echo $this->escapeHtml($pro->name);?>" href="/<?php echo $pro->slug; ?>#topo" class="product-title"><?php echo $this->escapeHtml($pro->name);?></a>
                                </div>
                            </div>
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <?php endif; ?>
            </div><!-- col-md-9 /- -->
        </div></div><!-- container /- -->
</div><!-- Product Section /- -->
