<!-- Application Section -->
<section id="application-section" class="application-section">
    <!-- container -->
    <div class="container">

        <div class="col-md-12 col-sm-12">
            <!-- Section Header -->
            <div class="section-header">
                <h3>Resultado da busca</h3>
            </div><!-- Section Header /- -->

            <?php if($results->count()==0) {

                echo "<h3>nenhum resultado para '<strong>". $term . "</strong>'</h3>";

            }?>
            <?php foreach($results as $res) { ?>
            <h4><?php echo $this->escapeHtml($res->title); ?></h4>
            <p><?php echo $this->escapeHtml($res->description);?></p>
            <a title="<?php echo $this->escapeHtml($res->title); ?>" href="/<?php echo $res->slug;?>" style="color: black">mais...</a>
            <br /><br />

            <?php } ?>
            <br />
            <br />
            <?if($total_paginas>1): ?>
                <ul class="pagination">
                    <li>Páginas</li>
                    <?php for($i=1; $i<=$total_paginas; $i++) {
                        echo sprintf( '<li><a title="Pagination" href="/%s?page=%s&q=%s">%s</a></li>', $slug_atual,$i, urlencode($term), $i );
                    }?>
                </ul>
            <?php endif; ?>
            <!-- paginador -->

            <br />
            <br />
        </div>

    </div><!-- container /- -->
</section><!-- Application Section /- -->