<!-- col-md-3 -->
<div class="col-md-3 col-sm-4 col-xs-8">
    <div class="sidebar row">
        <aside class="widget widget_search">
            <form method="get" action="/search" role="search" class="search">
                <input type="text" required="" class="form-control" placeholder="Pesquisar" id="q" name="q">
                <span class="search-icon input-group-btn"><button type="submit" class="btn btn-xlg"></button></span>
            </form>
        </aside>

        <aside style="display:none;" class="widget widget_text">
            <h3 class="widget-title">Dicas</h3>
            <?php foreach($dicas as $dica) {
                echo sprintf("<a href='/%s'><p>%s</p></a>", $dica->slug, $dica->title);
            }?>

        </aside>

        <aside class="widget widget_category">
            <h3 class="widget-title">CATEGORIAS BLOG</h3>
            <ul>
                <ul>
                    <?php
                    foreach($this->categoria_posts as $cat) {
                        echo sprintf('<li><a title="%s" href="/%s"><i class="fa fa-tint"></i> %s</a></li>', $cat['title'], $cat['slug'], $cat['title']);
                    }
                    ?>
                </ul>

            </ul>
        </aside>

        <aside class="widget widget_recent_post">
            <h3 class="widget-title">Tópicos recentes</h3>

            <?php foreach($this->posts_recentes as $post) { ?>
                <div class="recent_post">
                    <div class="col-md-8 col-sm-6 col-xs-7">
                        <a title="<?php echo $this->escapeHtml($post['title']); ?>" href="<?php echo $post['slug'];?>"><?php echo $this->escapeHtml($post['title']); ?></a>
                        <span class="date"><?php echo date('d M, Y', strtotime($post['published_on'])); ?></span>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-5">
                        <a href="<?php echo $post['slug'];?>"><img src="<?php echo $this->app_properties['post_img_folder'] ."92x72/" . $post['image'];?>" alt="<?php echo $this->escapeHtml($post['title']);?>" /></a>
                    </div>
                </div>

            <?php } ?>
        </aside>

        <aside class="widget widget_gallery">
            <h3 class="widget-title">Galeria de Imagens</h3>
            <ul>
                <?php foreach($galerias as $galeria) { ?>
                <li><a title="<?php echo $this->escapeHtml($galeria->title); ?>" href="/galeria?id=<?php echo $galeria->id;?>"><img src="<?php echo "/uploads/gallery/88/{$galeria->image_id}.jpg";?>" alt="<?php echo $this->escapeHtml($galeria->title); ?>" /></a></li>
                <?php } ?>
            </ul>
        </aside>
    </div>
</div><!-- col-md-3 /- -->