<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar novo produto' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('product', array('action' => $action, 'id' => $id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Produtos</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>


<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/product" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">

            <div class="form-group">
                Nome</br>
                <?php echo $this->formRow($form->get('name')->setAttribute('class', 'form-control')); ?>
            </div>
            <div class="form-group">
                Linha</br>
                <?php echo $this->formRow($form->get('type_id')->setAttribute('class', 'form-control')); ?>
            </div>

            <div class="form-group">
                Endereço &nbsp; [http://site.com.br/<span id="end"><?php echo $form->get('slug')->getValue(); ?></span>]</br>
                <?php echo $this->formRow($form->get('slug')->setAttribute('class', 'form-control')); ?>

            </div>
            <div class="form-group">
                Status</br>
                <?php echo $this->formRow($form->get('status')->setAttribute('class', 'form-control')); ?>

            </div>
            <div class="form-group">
                Categorias<br />
                <div id="categorias">
                    <?php foreach($categories as $cat) {
                        echo sprintf('<input type="checkbox" value="%s" name="category_id[]" class="minimal" %s>&nbsp;<label>%s</label>&nbsp;&nbsp;&nbsp;&nbsp;', $cat->id, (isset($cat->product_id) ? intval($cat->product_id)<=0 ? '' : 'checked=""' : ''), $cat->title);
                    } ?>
                 </div>
            </div>
            <div class="form-group">
                Descrição curta</br>
                <?php // echo $this->formRow($form->get('description')->setAttribute('class', 'form-control')); ?>
                <textarea name="description" id="description" class="ckeditor"><?php echo $form->get('description')->getValue(); ?></textarea>
            </div>
            <div class="form-group">
                Informações:<br />
                <textarea name="info" id="info" class="ckeditor"><?php echo $form->get('info')->getValue(); ?></textarea>
            </div>
            <div class="form-group">
                Dicas:<br />
                <textarea name="tips" id="tips" class="ckeditor"><?php echo $form->get('tips')->getValue(); ?></textarea>
            </div>

            <!-- IMAGEM DESTAQUE DA PÁGINA DE PRODUTO -->
            <div class="form-group">
                <strong>Banner 271 largura</strong></br>
                <?php echo $this->formRow($form->get('banner')->setAttribute('accept', '.jpg,.png'));?>
            </div>
            <?php
            if(file_exists($config['product_upload_folder'] . 'banner/' . $id . ".jpg")) {
                echo sprintf('<p><image src= "%sbanner/%s.jpg" /></p>', $config['product_img_folder'], $id);
            }
            ?>


            <div class="form-group">
                Imagens:<br />
                <?php echo $this->formRow($form->get('images')->setAttribute('accept', '.jpg,.png')->setAttribute('multiple', 'multiple'));?>
                <?php
                    echo "<table class=\"admin-image-table\">";
                    if(isset($images) && is_object($images)) {
                        if($images->count()==0) {
                            echo '<tr><td class="text-center">produto sem imagens</td></tr>';
                        }else{

                            echo "<tr>";
                            echo "<th>Imagem principal</th>";
                            foreach($config['product_img_sizes'] as $size => $opts) {
                                echo "<th>" . $size . "</th>";
                            }
                            echo "<th>Ação</th></tr>";

                            foreach($images as $image) {
                                echo "<tr>";
                                //echo "<td>" . ($image->id . ' - ' . $product->main_image_id) . "</td>";
                                echo "<td><input type='radio' name='main_image_id' value='{$image->id}' ".($image->id==$product->main_image_id?'checked':'')." /></td>";
                                foreach($config['product_img_sizes'] as $size => $opts) {
                                    $target = $config['product_img_folder'] . $size . '/' . $image->file;
                                    echo sprintf('<td><img src="%s" style="max-width: 200px; padding: 3px;" /></td>', $target);
                                }
                                echo sprintf('<td><a href="/admin/product/removeimage/%s" class="remove-image" alt="%s">remover</a></td>',$image->id, $size);
                                echo "</tr>";
                            }
                        }
                        echo "</table>";
                    }
                ?>

            </div>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php echo $this->form()->closeTag();?>

<script type="text/javascript">

    $(function() {

        $(document).delegate('.remove-image', 'click', function(e,ui){
            e.preventDefault();
            var tr = $(this).parents('tr').first();

            $.ajax({
                url: $(this).attr('href'),
                method: 'post',
                dataType: 'json',
                success : function(data){

                    tr.remove();

                }
            });

        });

        $(document).delegate('input[name=slug]', 'keyup', function(e,ui){

            $('span#end').html($(this).val());
        });

        $(document).delegate('input[name=name]', 'change', function(e,ui){

            if( $("input[name=slug]").val()==''){
                $("input[name=slug]").val(slug($("input[name=name]").val()));
                $('span#end').html($('input[name=slug]').val());
            }
        });

    });
</script>

