<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar novo banner' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);

$form->setAttribute('action', $this->url('banner', array('action' => $action)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Banners</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Banners</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/banner" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="form-group">
            Título</br>
            <?php echo $this->formRow($form->get('title')->setAttribute('class', 'form-control')); ?>
        </div>
        <div class="form-group">
            Cabeçalho</br>
            <?php echo $this->formRow($form->get('header')->setAttribute('class', 'form-control')); ?>
        </div>
        <div class="form-group">
            Link</br>
            <?php echo $this->formRow($form->get('href')->setAttribute('class', 'form-control')); ?>
        </div>
        <div class="form-group">
            Status</br>
            <?php echo $this->formRow($form->get('status')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Posição</br>
            <?php echo $this->formRow($form->get('posicao')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Banner</br>
            <?php echo $this->formRow($form->get('file')->setAttribute('accept', '.jpg,.png'));?>
            <?php if($form->get('file')->getValue()!='') :?>
                <div class="box-body">
                    <div class="form-group">
                        <img src="<?php echo $banners_img_folder . $form->get('file')->getValue(); ?>" width="100%" />
                    </div>
                </div>
            <?php endif; ?>
        </div>
       <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
    </div><!-- /.box-footer -->
</div><!-- /. box -->

<?php
echo $this->form()->closeTag();
