<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar nova Categoria de Produto' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('procat', array('action' => $action, 'id' => $id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Categorias de Produto</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Categoria de Produto</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>


<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
            <div class="form-group">
                Título</br>
                <?php echo $this->formRow($form->get('title')->setAttribute('class', 'form-control')); ?>
            </div>
            <div class="form-group">
                <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
            </div>
     </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php echo $this->form()->closeTag();?>


