<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar nova galeria' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);

$gallery_id = $form->get("id")->getValue();
$main_image_id = $form->get("image_id")->getValue();
$form->setAttribute('action', $this->url('gallery', array('action' => $action, 'id' => $gallery_id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
echo $this->formRow($form->get('image_id'));
?>
    <section class="content-header"><h1>Galerias</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Galerias</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/gallery" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="form-group">
            Título</br>
            <?php echo $this->formRow($form->get('title')->setAttribute('class', 'form-control')); ?>
        </div>
        <div class="form-group">
            Descrição</br>
            <?php echo $this->formRow($form->get('description')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Status</br>
            <?php echo $this->formRow($form->get('status')->setAttribute('class', 'form-control')); ?>

        </div>
        <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php
echo $this->form()->closeTag();

if($this->id>0):?>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Imagens</h3>
            &nbsp;<strong>(clique sobre a imagem para selecionar a imagem principal)</strong>
            <form method="post" enctype="multipart/form-data" action="gallery/upload" style="display: inline; float: right;">
                <input type="file" multiple="multiple" name="images" accept=".jpg,.png" id="file_upload_1" />
            </form>
        </div><!-- /.box-header -->
        <ul id="img_container">
            <?php foreach($images as $img) {
                $selected = ( (int)$img->id==(int)$main_image_id ? 'green_border' : '');
                echo "<li>"
                    . "<input type='hidden' name='id' value='{$img->id}' />"
                    . "<img class=\"img_gal $selected\" src=\"".$img_folder."88/{$img->id}.jpg\" alt=\"\">"
                    . "<input type=\"button\" value=\"remover\" ><br />"
                    . "</li>";
            } ?>
        </ul>

    </div>
    <script type="text/javascript">

        $(function() {
            $("#file_upload_1").uploadify({
                buttonText: 'Selecionar arquivos...',
                buttonClass: 'btn btn-default upload-button',
                formData : {gallery_id: <?php echo $gallery_id; ?>, '<?php echo session_name();?>' : '<?php echo session_id();?>'},
                fileTypeDesc : 'Imagens',
                multi: true,
                fileTypeExts : '*.gif; *.jpg; *.png',
                swf           : '/adm/plugins/uploadify/uploadify.swf',
                uploader      : '/admin/gallery/upload',
                width: 150,
                height: 25,
                debug: false,
                onUploadSuccess : function(file, data, response) {

                    var j = $.parseJSON(data), cl='';

                    if($('#img_container>li').length == 0) {
                        cl = 'green_border';
                        $('input[name=image_id]').val(j.id);
                    }

                    $('#img_container').append('<li><input type="hidden" name="id" '+cl+' value="'+j.id+'" /><img class="img_gal '+cl+'" src="'+appConfig.imgFolder+'88/'+j.id+'.jpg"><input type="button" value="remover" /></li>');

                }
            });

            $(document).delegate(".img_gal", "click", function(e,ui){


                $(".img_gal").removeClass('green_border');

                $(this).addClass('green_border');

                var id = $(this).prev().val();
                $('input[name=image_id]').val(id);


            });

            $(document).delegate("input[value=remover]", "click", function(e,ui){

                var el = $(this).parents('li').first(); id = el.find('input[name=id]').val();

                $.ajax( {
                    url: '/admin/gallery/delimage',
                    method: 'POST',
                    data: {id: id},
                    dataType: 'json',
                    success: function(data) {
                        el.remove();
                        //alert(data.msg);
                    }
                });
            });
        });

    </script>
    <?php

endif;