<?php
/**
 * delete.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$url = $this->url('gallery', array(
    'action' => 'delete',
    'id'     => $this->id,
));

$pl = count($gid)>1 ? 's' : '';

?>

<section class="content-header"><h1>Galeria</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Galeria</a></li>
        <li class="active">Remover</li>
    </ol>
</section>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Remover Galeria</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <p><?php echo "Tem certeza que deseja remover a{$pl} galeria{$pl}"; ?>
            <ul>
            <?php
            foreach($galleries as $gallery) {
                echo "<li>" . $this->escapeHtml($gallery->title) . "</li>";
            }
            ?>
        </ul>
        </p>
        <p>
        <form action="<?php echo $url; ?>" method="post">
            <div>
                <?php
                foreach($gid as $id) {
                    echo '<input type="hidden" name="gid[]" value="'.$id.'" />';
                }
                ?>
                <input type="submit" name="del" value="Remover" />
                <input type="submit" name="del" value="Cancelar" />
            </div>
        </form>
        </p>
    </div>
</div>