<?php
/**
 * getimages.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>
<style>
    #img_container {margin: 0px; padding: 0px;}
    #img_container > li {margin: 0px; padding: 5px; float: left;}
</style>

<div class="box box-primary">
    <div class="box-body">
        <div class="col-md-8">
           <strong>Selecione uma imagem</strong><br />
            <ul id="img_container">
                <?php foreach($images as $img) {
                    echo "<li>"
                        . "<input type='hidden' name='id' value='{$img->id}' />"
                        . "<input type='hidden' name='id' value='{$img->file}' />"
                        . "<img class=\"sel\" src=\"".$img_folder."88/{$img->id}.jpg\" alt=\"\">"
                        . "</li>";
                } ?>
            </ul>
        </div>
        <div class="col-md=4">
            <div id="preview" style="display: none;">
                <strong>Selecione um tamanho</strong><br />
                <input type="radio" name="size" value="88" /> 88 &nbsp;&nbsp;
                <input type="radio" name="size" value="278" checked /> 278 &nbsp;&nbsp;
                <input type="radio" name="size" value="780" /> 780 &nbsp;&nbsp;
                <input type="radio" name="size" value="800" /> 800 &nbsp;&nbsp;
                <input type="radio" name="size" value="original" /> original &nbsp;&nbsp;
                <button id="close" value="usar esta">Ok</button>
                <img src="" style="display: block; max-width: 300px;" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var id=null, file=null, folder=null, imgUrl;

    $(document).delegate('img.sel', 'click', function(e,ui){
        id = $(this).prev().prev().val(),
        file = $(this).prev().val(),
        folder = $('input[name=size]:checked').val();

        showImage();


    });

    $(document).delegate('input[name=size]', 'change', function(e,ui){
        folder = $('input[name=size]:checked').val();
        showImage();

    });

    function showImage() {
        $('#preview').show();
        imgUrl = encodeURI('/uploads/gallery/'+folder + '/' + (folder=='original' ? file : id + '.jpg'));
        $('#preview > img').attr('src', imgUrl);
    }

    $(document).delegate('#close', 'click', function(){
        var result="<img src="+imgUrl+" style='width:auto;heigth:auto;'>";
        var element = window.opener.CKEDITOR.dom.element.createFromHtml( result );
        var CKEDITOR   = window.opener.CKEDITOR;
        for ( var i in CKEDITOR.instances ){
            var currentInstance = i;
            break;
        }
        var oEditor   = window.opener.CKEDITOR.instances[currentInstance];
        oEditor.insertElement(element);
        window.close();
    });

</script>

