<?php
/**
 * index.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */
?>
<section class="content-header"><h1>Galerias</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Galerias</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<!-- Main content -->
<form name="frm_all" action="" method="POST">
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Galerias</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="chkall" /> </th>
                        <th>&nbsp;</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th>Inclusão</th>
                        <th>Última Alteração</th>
                        <th>Ação
                            <select name="withsel">
                                <option>com selecionadas</option>
                                <option value="gallery/delete">remover</option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(count($galleries)<=0):  ?>
                        <tr>
                            <td colspan="7"><div class="text-center">Nehuma galeria encontrada.</div></td>
                        </tr>
                    <?php else: ?>
                        <?php foreach ($galleries as $gallery) : ?>
                            <tr>
                                <td><input type="checkbox" name="gid[]" value="<?php echo $gallery->id; ?>" /></td>
                                <td><?php echo $this->escapeHtml($gallery->title);?></td>
                                <td><img src="/uploads/gallery/88/<?php echo $gallery->image_id;?>.jpg" /></td>
                                <td><?php echo $this->escapeHtml($gallery->status);?></td>
                                <td><?php echo date("d/m/Y H:i:s",strtotime($gallery->created_on));?></td>
                                <td><?php echo date("d/m/Y H:i:s",strtotime($gallery->modified_on));?></td>
                                <td>
                                    <a href="<?php echo $this->url('gallery',array('action'=>'edit'  , 'id' => $gallery->id));?>">Editar</a>
                                    | <a href="<?php echo $this->url('gallery',array('action'=>'delete', 'id' => $gallery->id));?>">Remover</a>
                                </td>
                            </tr>
                        <?php endforeach;?>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
</form>
<script type="text/javascript">

    $(document).ready(function(){
       $('input[name="chkall"]').click(function(e,ui){

           $('input[name^="gid"]').prop('checked', $(this).prop('checked'));

       });

        $('select[name=withsel]').change(function(e,ui){

            debugger;
            $('form[name=frm_all]').prop('action', $(this).val()).submit();


        });
    });
</script>