<?php
/**
 * popup.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */
?>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Galerias</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <select id="galeria">
                    <option>selecione uma galeria</option>
                    <?php foreach ($galleries as $gallery) :
                        echo sprintf('<option value="%s">%s</option>', $gallery->id, $gallery->title);
                    endforeach;
                    ?>
                </select>
            </div><!-- /.box-body -->
            <div id="imagens" class="box-body">

            </div>
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    $(document).ready(function(){
        $(document).delegate('#galeria','click', function(e,ui){
            e.preventDefault();
            $('#imagens').load('/admin/gallery/getimages/' + $(this).val());
        });
    });
</script>