<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar novo usuário' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('user', array('action' => $action, 'id' => $id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Usuários</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Usuários</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="form-group">
            Nome</br>
            <?php echo $this->formRow($form->get('first_name')->setAttribute('class', 'form-control')); ?>
            <?php
            //echo  "<p>" . $this->formElementErrors($form->get('first_name')) . "asdf</p>";
            ?>

        </div>
        <div class="form-group">
            Sobrenome</br>
            <?php echo $this->formRow($form->get('last_name')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Telefone</br>
            <?php echo $this->formRow($form->get('phone')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            EMail</br>
            <?php echo $this->formRow($form->get('email')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Senha</br>
            <?php echo $this->formRow($form->get('password')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            Confirmação da senha</br>
            <?php echo $this->formRow($form->get('password_confirm')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            <?php echo $this->formRow($form->get('is_admin')); ?>&nbsp; Administrador

        </div>
       <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php
echo $this->form()->closeTag();
