<?php
/**
 * delete.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$url = $this->url('user', array(
    'action' => 'delete',
    'id'     => $this->id,
));

?>

<section class="content-header"><h1>Usuário</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuários</a></li>
        <li class="active">Remover</li>
    </ol>
</section>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Remover Usuário</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <p>Tem certeza que deseja remover o usuário
            <?php echo $this->escapeHtml($user->first_name)
                . " " . $this->escapeHtml($user->last_name)
                . " (" .$user->email . ") "; ?>
        </p>
        <p>
        <form action="<?php echo $url; ?>" method="post">
            <div>
                <input type="hidden" name="id" value="<?php echo (int) $user->id; ?>" />
                <input type="submit" name="del" value="Remover" />
                <input type="submit" name="del" value="Cancelar" />
            </div>
        </form>
        </p>
    </div>
</div>