<?php
/**
 * index.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>
<section class="content-header"><h1>Usuários</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Usuários</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<!-- Main content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Usuários</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>EMail</th>
                        <th>Telefone</th>
                        <th>Cadastro</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($users as $user) : ?>
                    <tr>
                        <td><?php echo $this->escapeHtml($user->first_name);?></td>
                        <td><?php echo $this->escapeHtml($user->last_name);?></td>
                        <td><?php echo $this->escapeHtml($user->email);?></td>
                        <td><?php echo $this->escapeHtml($user->phone);?></td>
                        <td><?php echo date("d/m/Y H:i:s",strtotime($user->created_on));?></td>
                        <td>
                            <a href="<?php echo $this->url('user',array('action'=>'edit'  , 'id' => $user->id));?>">Editar</a>
                           | <a href="<?php echo $this->url('user',array('action'=>'delete', 'id' => $user->id));?>">Remover</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
