<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar novo comentário' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('post-comment', array('action' => $action, 'id' => $id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
echo $this->formRow($form->get('post_id'));
?>
    <section class="content-header"><h1>Posts</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Posts</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>


<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/post-comment" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
            <div class="form-group">
                Nome</br>
                <?php echo $this->formRow($form->get('name')->setAttribute('class', 'form-control')); ?>
            </div>

            <div class="form-group">
                Email</br>
                <?php echo $this->formRow($form->get('email')->setAttribute('class', 'form-control')); ?>
            </div>
            <div class="form-group">
                Assunto</br>
                <?php echo $this->formRow($form->get('subject')->setAttribute('class', 'form-control')); ?>
            </div>

             <div class="form-group">
                Message</br>
                <?php echo $this->formRow($form->get('message')->setAttribute('class', 'form-control')); ?>
            </div>
            <div class="form-group">
                Status</br>
                <?php echo $this->formRow($form->get('status')->setAttribute('class', 'form-control')); ?>

            </div>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php echo $this->form()->closeTag();?>

