<?php
/**
 * index.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>
<section class="content-header"><h1>Posts</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Comentários</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<!-- Main content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Comentários</h3>
                <div class="box-title-buttons">
                    <form id="frm_filter" action="/admin/post-comment" method="post">
                        Filtro: &nbsp;
                    <select id="status-filter" name="status-filter">
                        <option value="review" <?php echo $filter=='review' ? 'selected' : ''?>>Revisão Pendente</option>
                        <option value="approved" <?php echo $filter=='approved' ? 'selected' : ''?>>Aprovados</option>
                        <option value="rejected" <?php echo $filter=='rejected' ? 'selected' : ''?>>Rejeitados</option>
                    </select>
                    </form>
                </div>

            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Assunto</th>
                        <th>Mensagem</th>
                        <th>Status</th>
                        <th>Criação</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(count($comments)==0) {

                        echo "<tr><td colspan='6' class='text-center'>nenhum comentário encontrado</td></tr>";
                    } ?>
                    <?php foreach ($comments as $comment) : ?>
                    <tr>
                        <td>
                            <?php echo $this->escapeHtml($comment->name);?><br />
                            <small><?php echo $this->escapeHtml($comment->email);?></small>
                        </td>
                        <td><?php echo $this->escapeHtml($comment->subject);?></td>
                        <td><?php echo $this->escapeHtml($comment->message);?></td>
                        <td><?php echo $this->escapeHtml($comment->status);?></td>
                        <td><?php echo date("d/m/Y", strtotime($comment->created_on));?></td>
                        <td>
                            <a href="<?php echo $this->url('post-comment',array('action'=>'edit'  , 'id' => $comment->id));?>">Editar</a><br />
                            <a href="<?php echo $this->url('post-comment',array('action'=>'delete', 'id' => $comment->id));?>">Remover</a><br />
                            <a href="/admin/post-comment/approve/<?php echo $comment->id;?>" class="post-comment-approve">Aprovar</a><br />
                            <a href="/admin/post-comment/reject/<?php echo $comment->id;?>" class="post-comment-approve">Rejeitar</a><br />
                            <a href="/<?php echo $comment->slug;?>" target="_blank">Ver Post</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
    $(function(){

        $(document).delegate('.post-comment-approve', 'click', function(e,ui){

            e.preventDefault();

            var action = $(this).attr('href'), obj = $(this);

            $.ajax({
                url: action,
                method: 'post',
                dataType: 'json',
                success: function(data) {

                    if(!data.error) {
                        obj.parents('tr').first().fadeOut();
                    }

                }
            })

            return false;

        });
        $(document).delegate('#status-filter', 'change', function(e,ui){
            e.preventDefault();
            $('#frm_filter').submit();
        });
    });

</script>