<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar novo post' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('post', array('action' => $action, 'id' => $id)));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Posts</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Posts</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>


<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/post" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-8">
            <div class="form-group">
                Título</br>
                <?php echo $this->formRow($form->get('title')->setAttribute('class', 'form-control')); ?>
            </div>
             <div class="form-group">
                Descrição curta</br>
                <?php echo $this->formRow($form->get('description')->setAttribute('class', 'form-control')); ?>
            </div>
            <div class="form-group">
                Endereço &nbsp; [http://site.com.br/<span id="end"><?php echo $form->get('slug')->getValue(); ?></span>]</br>
                <?php echo $this->formRow($form->get('slug')->setAttribute('class', 'form-control')); ?>

            </div>
            <div class="form-group">
                Status</br>
                <?php echo $this->formRow($form->get('status')->setAttribute('class', 'form-control')); ?>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                Data publicação<br />
                <?php echo $this->formRow($form->get('published_on')->setAttribute('class', 'form-control datepicker')); ?>
            </div>
            <div class="form-group">
                Categorias<br />
                <div id="categorias">
                    <?php foreach($categories as $cat) {
                        echo sprintf('<input type="checkbox" value="%s" name="category_id[]" class="minimal" %s>&nbsp;<label>%s</label><br />', $cat->id, intval(isset($cat->post_id) ? $cat->post_id :0)<=0 ? '' : 'checked=""', $cat->title);
                    } ?>
                 </div>
                <input type="text" id="new_category" value="" placeholder="nova categoria" />
            </div>
            <div class="form-group">
                Tags<br />
                <?php echo $this->formRow($form->get('tags')->setAttribute('class', 'form-control tagit')); ?>

            </div>
            <div class="form-group">
                Imagem destacada</br>
                <?php echo $this->formRow($form->get('image')   ); ?>
                <?php if( $form->get('image')->getValue()!=''):?>
                    <?php echo sprintf("<img src=\"%s/278x298/%s?%s\" />", $img_folder, $form->get('image')->getValue(), uniqid()); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea name="content" id="ckeditorarea"><?php echo $this->escapeHtml($form->get('content')->getValue()); ?></textarea>
            </div>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php echo $this->form()->closeTag();?>

<script type="text/javascript">
    $(function() {

        $(document).delegate('#new_category', 'keypress', function(e,ui){

            var code = e.keyCode || e.which;
            if(code == 13) {
                e.preventDefault();

                $.ajax({
                    url : '/admin/category/save',
                    method: 'post',
                    dataType: 'json',
                    data: {isAjax: true, title: $(this).val()},
                    success : function(data){
                        $('<input type="checkbox" class="minimal" name="categoria_id[]" value="'+data.id+'"  checked="checked">&nbsp;<label>'+data.title+'</label><br />').appendTo('#categorias');
                    }
                });

            }
        });

        $(document).delegate('input[name=slug]', 'keyup', function(e,ui){

            $('span#end').html($(this).val());
        });

        $(document).delegate('input[name=title]', 'change', function(e,ui){

            if( $("input[name=slug]").val()==''){
                $("input[name=slug]").val(slug($("input[name=title]").val()));
            }
        });

        $('.tagit').tagit({
            availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
            autocomplete: {delay: 0, minLength: 2}
        });
    });
</script>

