<?php
/**
 * index.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>
<section class="content-header"><h1>Posts</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Posts</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<!-- Main content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Posts</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Status</th>
                        <th>Publicação</th>
                        <th>Criação</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(count($posts)==0) {

                        echo "<tr><td colspan='4' class='text-center'>nenhum post encontrado</td></tr>";
                    } ?>
                    <?php foreach ($posts as $post) : ?>
                    <tr>
                        <td><?php echo $this->escapeHtml($post->title);?></td>
                        <td><?php echo $this->escapeHtml($post->status);?></td>
                        <td><?php echo date("d/m/Y", strtotime($post->published_on));?></td>
                        <td><?php echo date("d/m/Y H:i:s",strtotime($post->created_on));?></td>
                        <td>
                            <a href="<?php echo $this->url('post',array('action'=>'edit'  , 'id' => $post->id));?>">Editar</a>
                           | <a href="<?php echo $this->url('post',array('action'=>'delete', 'id' => $post->id));?>">Remover</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
