<?php
/**
 * add.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

$title = !isset($title) ?  'Adicionar nova linha' : $title;
$action = !isset($action) ? 'add' : $action;
$this->headTitle($title);
$id = $form->get("id")->getValue();
$id = (int)$id>0 ? (int)$id : null;

$form->setAttribute('action', $this->url('protype', array('action' => $action, 'id' => $id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('id'));
?>
    <section class="content-header"><h1>Linhas</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>


<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->escapeHtml($title); ?></h3>
        <div class="box-title-buttons">
            <a href="/admin/protype" class="btn btn-dropbox" />Cancelar</a>
            <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="form-group">
            Nome</br>
            <?php echo $this->formRow($form->get('title')->setAttribute('class', 'form-control')); ?>
        </div>

        <div class="form-group">
            Endereço &nbsp; [http://site.com.br/<span id="end"><?php echo $form->get('slug')->getValue(); ?></span>]</br>
            <?php echo $this->formRow($form->get('slug')->setAttribute('class', 'form-control')); ?>

        </div>
        <div class="form-group">
            <textarea name="content" id="ckeditorarea"><?php echo $this->escapeHtml($form->get('content')->getValue()); ?></textarea>
        </div>
        <div class="form-group">
            <strong>Imagem 271x300</strong></br>
            <?php echo $this->formRow($form->get('file')->setAttribute('accept', '.jpg,.png'));?>
        </div>
        <?php
        if(file_exists($config['protype_upload_folder'] . $id . ".jpg")) {
            echo sprintf('<p><image src= "%s%s.jpg" /></p>', $config['protype_img_folder'], $id);
        }
        ?>
        <hr />
        <div class="form-group">
            <strong>Logo 271 de altura</strong></br>
            <?php echo $this->formRow($form->get('logo')->setAttribute('accept', '.jpg,.png'));?>
        </div>
        <?php
        if(file_exists($config['protype_upload_folder'] . 'logo/' . $id . ".jpg")) {
            echo sprintf('<p><image src= "%slogo/%s.jpg" /></p>', $config['protype_img_folder'], $id);
        }
        ?>
        <?php echo $this->formSubmit($form->get('submit')->setAttribute('class','btn btn-default')); ?>
    </div><!-- /.box-footer -->
</div><!-- /. box -->
<?php echo $this->form()->closeTag();?>

<script type="text/javascript">

    $(function() {

        $(document).delegate('input[name=slug]', 'keyup', function(e,ui){

            $('span#end').html($(this).val());

        });

        $(document).delegate('input[name=title]', 'change', function(e,ui){

            if( $("input[name=slug]").val()==''){
                $("input[name=slug]").val(slug($("input[name=title]").val()));
                $('span#end').html($('input[name=slug]').val());
            }
        });

    });
</script>

