<?php
/**
 * index.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>
<section class="content-header"><h1>Linhas</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Linhas</a></li>
        <li class="active">Listar</li>
    </ol>
</section>

<!-- Main content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listagem de Linhas</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Linha</th>
                        <th>Endereço</th>
                        <th>Criação</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(count($protypes)==0) {
                        echo "<tr><td colspan='4' class='text-center'>nenhuma linha encontrada</td></tr>";
                    } ?>
                    <?php foreach ($protypes as $protype) : ?>
                    <tr>
                        <td><?php echo $this->escapeHtml($protype->title);?></td>
                        <td><?php echo $this->escapeHtml($protype->slug);?></td>
                        <td><?php echo date("d/m/Y H:i:s",strtotime($protype->created_on));?></td>
                        <td>
                            <a href="<?php echo $this->url('protype',array('action'=>'edit'  , 'id' => $protype->id));?>">Editar</a>
                           | <a href="<?php echo $this->url('protype',array('action'=>'delete', 'id' => $protype->id));?>">Remover</a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
