<!-- Page Banner -->
<div id="page-banner" class="page-banner">
    <img src="/images/page-banner.png" alt="page-banner" />
    <!-- container -->
    <div class="page-detail">
        <div class="container">
            <a title="Blog" href="/blog"><h3 class="page-title">Trabalhe Conosco</h3></a>
            <div class="page-breadcrumb pull-right">
                <ol class="breadcrumb">
                    <li><a title="Home" href="/">Home</a></li>
                    <li><a title="Blog" href="/trabalhe-conosco">Trabalhe Conosco</a></li>
                </ol>
            </div>
        </div>
    </div><!-- container /- -->
</div><!-- Page Banner /- -->

<div id="contact" class="contact-form-section ow-section">
    <!-- container -->
    <div class="container">
        <!-- col-md-8 -->
        <div class="col-md-12 col-sm-12 no-padding">
            <div class="row">
                <h3>PREENCHA CORRETAMENTE OS CAMPOS ABAIXO COM INFORMAÇÕES DE SEU CURRÍCULO:</h3>
                <?php
                    if($enviado) {

                        echo "<h3>$mensagem</h3>";

                    }else{
                ?>
                <form action="/trabalhe-conosco" method="post" class="main-contact-form" id="trabalhe">
                    <input type="hidden" name="enviar" value="true" />
                    
                    <div class="col-md-6 col-sm-6">
                        <label>NOME: <span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="nome" />
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label>ENDEREÇO<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="endereco" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>TELEFONE:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="telefone" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>E-MAIL:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="email" />
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>DATA DE NASCIMENTO:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="nascimento" />
                    </div>
                     <div class="col-md-6 col-sm-6">
                        <label>ESCOLARIDADE:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input type="text" name="escolaridade" />
                    </div>
                     <div class="col-md-6 col-sm-6">
                        <label>EXPERIÊNCIA PROFISSIONAL:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <textarea name="experiencia"></textarea>
                    </div>
                     <div class="col-md-6 col-sm-6">
                        <label>QUALIFICAÇÕES:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <textarea name="qualificacoes"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>CURSOS:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <textarea name="cursos"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>ÁREA PRETENDIDA:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <textarea name="area"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>OBJETIVO:<span>*</span></label>
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <textarea name="objetivo"></textarea>
                    </div>
                     <div class="col-md-12 col-sm-12">
                        <!--<input type="text" id="input_name" name="contact-name" required />-->
                        <input style="display: inline !important; width: auto; height: auto;" type="checkbox" name="novidades" />
                        <label style="display: inline !important; width: auto;">DESEJO RECEBER NOVIDADES E INFORMAÇÕES SOBRE A GR HIGIENE E LIMPEZA POR EMAIL.<span></span></label>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <!--<input type="submit" class="btn" id="btn_smt" value="Enviar" />-->
                         <input class="btn" type="submit" value="Enviar Currículo" />
                    </div>
                </form>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
