<?php
$session = $this->zcms_session;
$logged_user = isset($session['logged_user']) ? $session['logged_user'] : array('is_admin' => false);
$current_module = $this->currentRoute()->getModule();
$current_module = empty($current_module) ? 'ab' : $current_module;
?>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ZCMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/adm/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/adm/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/adm/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/adm/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="/adm/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    <link rel="stylesheet" href="/adm/plugins/jQueryUI14/jquery-ui.min.css">
<!--    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">-->
    <script src="/adm/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/adm/plugins/jQueryUI14/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/adm/bootstrap/js/bootstrap.min.js"></script>
    <script src="/adm/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="/adm/plugins/uploadify/jquery.uploadify.min.js"></script>
    <!-- FastClick -->
    <script src="/adm/plugins/fastclick/fastclick.min.js"></script>
    <!-- tag it -->
    <link rel="stylesheet" href="/adm/plugins/tagit/jquery.tagit.css" />
    <link rel="stylesheet" href="/adm/plugins/tagit/tagit.ui-zendesk.css" />
    <script src="/adm/plugins/tagit/tag-it.min.js"></script>

    <!-- AdminLTE App -->
    <script src="/adm/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/adm/dist/js/demo.js"></script>
    <script src="/adm/ckeditor/ckeditor.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/adm/custom.js"></script>
    <script type="text/javascript">
      // application config
      var appConfig = {
        imgFolder: "<?php echo isset($app_config["gallery_img_folder"]) ? $app_config["gallery_img_folder"] : '';?>",
        currentModule: "<?php echo $current_module;?>"
      };
    </script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>Z</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin</b>ZCMS</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs"><?php echo isset($logged_user['name']) ? $logged_user['name'] : ''; ?></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="/login/exit" class="btn btn-default btn-flat">Sair</a>
                    </div>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="text-center">
                      <a href="#">Last login</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="/admin/application/config"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>

            <?php if($logged_user['is_admin']): ?>
            <!-- CADASTRO DE USUARIOS / RESTRITO -->
            <li class="treeview <?php echo $current_module=='user' ? 'active' : ''?>" id="tvw-usr">
              <a href="#">
                <i class="fa fa-male"></i>
                <span>Usuários</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/user"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/user/add"><i class="fa fa-circle-o"></i> Novo</a></li>
              </ul>
            </li>
            <?php endif; ?>

            <!-- CADASTRO GALERIAS -->
            <li class="treeview <?php echo $current_module=='gallery' ? 'active' : ''?>" id="tvw-gal">
              <a href="#">
                <i class="fa fa-picture-o"></i>
                <span>Galerias</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/gallery"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/gallery/add"><i class="fa fa-circle-o"></i> Nova</a></li>
              </ul>
            </li>

            <!-- CADASTRO PAGINAS -->
            <li class="treeview <?php echo $current_module=='page' ? 'active' : ''?>" id="tvw-pag">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Paginas</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/page"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/page/add"><i class="fa fa-circle-o"></i> Nova</a></li>
              </ul>
            </li>

            <!-- CADASTRO POSTS -->
            <li class="treeview <?php echo strpos('|page|category|postcomment', $current_module) ? 'active' : ''?>" id="tvw-post">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Posts</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/post"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/post/add"><i class="fa fa-circle-o"></i> Novo</a></li>
                <li><a href="/admin/category"><i class="fa fa-circle-o"></i> Categorias</a></li>
                <li><a href="/admin/category/add"><i class="fa fa-circle-o"></i> Nova categoria</a></li>
                <li><a href="/admin/post-comment"><i class="fa fa-circle-o"></i> Comentários</a></li>
              </ul>
            </li>

            <!-- CADASTRO BANNERS -->
            <li class="treeview <?php echo $current_module=='banner' ? 'active' : ''?>" id="tvw-banner">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Banners</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/banner"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/banner/add"><i class="fa fa-circle-o"></i> Novo</a></li>
              </ul>
            </li>

            <!-- CADASTRO PRODUTOS -->
            <li class="treeview <?php echo strpos('|product|procat|protype', $current_module) ? 'active' : ''?>" id="tvw-produtos">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Produtos</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/admin/product"><i class="fa fa-circle-o"></i> Listar</a></li>
                <li><a href="/admin/product/add"><i class="fa fa-circle-o"></i> Novo produto</a></li>
                <li><a href="/admin/protype"><i class="fa fa-circle-o"></i> Linhas</a></li>
                <li><a href="/admin/protype/add"><i class="fa fa-circle-o"></i> Nova linha</a></li>
                <li><a href="/admin/procat"><i class="fa fa-circle-o"></i> Categorias</a></li>
                <li><a href="/admin/procat/add"><i class="fa fa-circle-o"></i> Nova categoria</a></li>
              </ul>
            </li>


          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
         <?php echo $this->content;?>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <!-- ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul -->
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
  </body>
</html>
