<?php
/**
 * layout.phtml
 * @author Gustavo Jantsch <jantsch@gmail.com>
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */

?>

<html>
    <body>
        <h1>Custom</h1>
        <?php echo  $this->content; ?>
    </body>
</html>
