<?php
$session = $this->zcms_session;
$logged_user = isset($session['logged_user']) ? $session['logged_user'] : array('is_admin' => false);
?>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | General Form Elements</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/adm/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/adm/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/adm/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/adm/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.1.4 -->
    <script src="/adm/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/adm/plugins/jQueryUI14/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/adm/plugins/jQueryUI14/jquery-ui.min.css">
    <!-- Bootstrap 3.3.5 -->
    <script src="/adm/bootstrap/js/bootstrap.min.js"></script>
    <script src="/adm/plugins/uploadify/jquery.uploadify.min.js"></script>
    <!-- FastClick -->
    <script src="/adm/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/adm/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/adm/dist/js/demo.js"></script>
    <script src="/adm/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
      var appConfig = {
        imgFolder: "<?php echo $app_config["gallery_img_folder"];?>"
      };
    </script>

  </head>
  <body class="hold-transition skin-blue sidebar-collapse">
    <div class="wrapper">
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
         <?php echo $this->content;?>
        </section><!-- /.content -->


      </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
  </body>
</html>
