<?php
/**
 * config.phtml
 * @copyright Copyright (c) 2016 Gustavo Jantsch
 */
?>
<form action="/admin/application/saveconfig" method="post">
    <section class="content-header"><h1>Configuração</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Site</a></li>
            <li class="active">Configuração</li>
        </ol>
    </section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Configuração do Site</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div id="properties">
                <?php foreach($properties as $property) { ?>
                    <div class="form-group">
                        <div style="width: 40%; display: inline-block;">
                        <input name="property[]" class="form-control" value="<?php echo $property->property;?>" type="text">
                    </div>
                        <div style="width: 40%; display: inline-block;">
                        <input name="value[]" class="form-control" value="<?php echo $property->value;?>" type="text">
                    </div>
                </div>
                <?php } ?>
                <div class="form-group">
                    <div style="width: 40%; display: inline-block;">
                        <input name="property[]" class="form-control" value="" type="text">
                    </div>
                    <div style="width: 40%; display: inline-block;">
                        <input name="value[]" class="form-control" value="" type="text">
                    </div>
                </div>
            </div>
            <br />
            <input name="submit" id="submitbutton" class="btn btn-default" value="Salvar" type="submit">
            <input name="add" id="addbutton" class="btn btn-default" value="Adicionar" type="button">

        </div><!-- /.box-footer -->
    </div><!-- /. box -->
</form>
<div id="source" style="display: none;" >
    <div class="form-group">
        <div style="width: 40%; display: inline-block;">
            <input name="property[]" class="form-control" value="" type="text">
        </div>
        <div style="width: 40%; display: inline-block;">
            <input name="value[]" class="form-control" value="" type="text">
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function() {


        $(document).delegate("#addbutton", "click", function(e,ui){
           $('#source').find('.form-group').first().clone().appendTo("#properties");

        });
    });

</script>
